.left-pane {
	float: left;
	width: 60%;
}

.right-pane {
	float: left;
	width: 40%;
	font-size: 10px;
}

.right-pane > table {
	margin-left: 20px;
	margin-right: 20px;
}

.current-lyric {
	/*background-color: red;*/
}

#video-container {
	width: 640px;
	margin: 20px auto;
}
