/*html, body {*/
	/*height: 100%;*/
	/*background-color: rgba(107, 107, 107, 1);*/
	/*z-index: 0;*/
/*}*/

/* nav bar stuff */
header {
	margin-bottom: 20px;
	overflow: hidden;
}

nav ul {
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc;
}

nav li {
	float: left;
}

nav li a {
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
}

nav li a:hover { background-color: rgba(0, 0, 0, 0.32); }

html, body {
	margin: 0px;
	color: white;
	font-family: Verdana, sans-serif;
	background-color: rgba(107, 107, 107, 1);
}

/* man view stuff */
div#video-holder.center { 
	width: 640px;
	margin: 20px auto;

}

#scroller {
	color: white;
	float: left;
	width: 600px;
	height: 400px;
}

#scroller p {
	text-align: center;
	font-size: 18px; 
	position: relative;
	top: 15px;
}

div.lyrics-scroll {
	margin: 0px 20px;
	background-color: black;
	height: 50px;
	clear: both;
	position: relative;
}

div#korean-scroll {
	border-bottom: 1px solid white;
}

#info {
	float: right;
	width: 500px;
	height: 500px;
	background-color: black;
}

#info li {
	margin: 20px 0px;
}

#info a {
	color: white;
	background-color: rgba(96, 81, 96, 1);
	padding: 5px;
}

#info a:link { text-decoration: none; }
#info a:visited { text-decoration: none; }
#info a:hover {
	text-decoration: none;
	color: rgba(164, 131, 164, 1);
}
#info a:active { text-decoration: none; }

/* lyrics stuff */

div#lyrics {
	font-size: 10px;
}

div#lyrics > table {
	/*font-weight: bold;*/
	margin-left: 20px;
	margin-right: 20px;
}

/* TODO idiomatic class names (- dashes) */
div.current-lyric {
	/*background-color: red;*/
}
