extends layout

block head
  title About

block content
  p.
    Benny is a tool that lets you practice language skills with YouTube videos.
    Create translations of videos that are embedded with vocabulary and grammar
    information, and in doing so:
  ul
    li Learn vocab
    li Learn grammar
    li Learn a new song or watch a new show
    li Make videos in other languages accessible to all sorts of people
