extends layout

block head
  title Create a new song
  link(rel='stylesheet', href='/stylesheets/create.css', type='text/css')

block content
  div.save-load-bar
    form(action='/upload', method='post', enctype='multipart/form-data')
      textarea(id='song-data', name='data', rows='2', cols='100', placeholder='Paste lyrics here')
      input(name='video', type='file')
      input(id='submit', type='submit')

  script(src='/javascripts/jquery-2.1.1.min.js')
  script(src='/javascripts/underscore.js')
  script(src='/javascripts/Utility.js')
